node_modules
.next
out
.env*
.DS_Store
service-account.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*

hardware/**/build/

# Capacitor / Android
android/.gradle/
android/build/
android/app/build/
android/local.properties
android/capacitor-cordova-android-plugins/
*.apk
*.aab
*.keystore
